.news{
	display: inline-block;
}

label{
	display: block;
	margin: 0 auto;
	text-align: left;
	color: white;
	font-weight: 500;
}


#newsletter{
	width: 400px;
	margin: 0 auto;
	padding-top: 50px;
}
textarea{
	width: 400px;
}
select{
	width: 370px;
	border-radius: 5px;
}

#newsletter input{
	text-align: left;
}


#fh5co-contact .coupon-form{
	max-width: 400px;
	margin: 0 auto;
	padding: 100px 0;
}


#fh5co-contact{
	margin: 0;
}