#fh5co-work:before {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 0px;
  padding: 0;
  width: 101%;
}
#fh5co-work:before {
  top: 0;
  margin-top: -200px;
}

#fh5co-contact{
  margin-top: 80px;
}

h2, h3 {
  text-align: center
}

#fh5co-services:after {
  position: absolute;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 0px;
  padding: 0;
  width: 101%;
}
#fh5co-work:services {
  top: 0;
  margin-top: -200px;
}