#fh5co-header{
	background-color: #212121;
	margin: 0;
}

section{
	padding: 80px 0;
}

.section-heading{
	padding: 0;
	margin: 0;
}

#fh5co-home{
	height: 600px;
	width: 100%;
	padding: 0;
	background: linear-gradient(0deg, transparent, transparent);
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: local;
	z-index: 0;
	position: initial;
} 
@media screen and (max-width: 1199px){
  #fh5co-home{
  height: 400px;
  }
}
@media screen and (max-width: 768px){
  #fh5co-home{
  height: 300px;
  }
}
@media screen and (max-width: 400px){
  #fh5co-home{
  height: 200px;
  }
}
#nomeservizio{
	max-width: 1140px;
	margin: -70px auto 0px; auto;
	padding: 0 15px;
}

@media screen and (max-width: 1199px){
	#nomeservizio{
		max-width: 940px;	
	}
}
@media screen and (max-width: 992px){
	#nomeservizio{
		max-width: 720px;	
	}
}
@media screen and (max-width: 768px){
	#nomeservizio{
		text-align: center;	
	}
}

#fotoprofilo{
	margin: 0;
	padding: 0;
	box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.5);
}

#nomeservizio img{
	margin-bottom: 20px;
}
#nomeservizio .text{
	margin
}

#nomeservizio p{
	margin: 0;
	padding: 2px 0;
}

h1{
	font-weight: bold;
	font-size: 45px;
	margin: 0 0 25px 0;
}


/*************
pacchetti
*************/

#fh5co-pacchetti a:hover {
  text-decoration: none;
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.3);
}
#fh5co-pacchetti .fh5co-pacchetto:hover, #fh5co-pacchetti .fh5co-pacchetto:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
  top: 0;
}

#fh5co-pacchetti {
  overflow: hidden;
  padding: 80px 0;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color: #52d3aa;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
  background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
}

#fh5co-pacchetti:before, #fh5co-pacchetti:after {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 80px;
  padding: 0;
  width: 100%;
}
#fh5co-pacchetti:before {
  top: 0;
  margin-top: -37px;
}
#fh5co-pacchetti:after {
  bottom: 0;
  margin-bottom: -37px;
}
#fh5co-pacchetti .section-heading h2 {
  color: #fff;
}
#fh5co-pacchetti .section-heading h2:after {
  background: rgba(255, 255, 255, 0.3);
}
#fh5co-pacchetti .section-heading h3 {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-pacchetti .fh5co-pacchetto {
  display: block;
  width: 100%;
  position: relative;
  top: 0;
  background: #fff;
  overflow: hidden;
  z-index: 9;
  margin-bottom: 30px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 992px) {
#fh5co-pacchetti .fh5co-pacchetto img {
  z-index: 8;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
}
#fh5co-pacchetti .fh5co-pacchetto .fh5co-text {
  padding: 0;
}
#fh5co-pacchetti .fh5co-pacchetto .fh5co-text h2, #fh5co-pacchetti .fh5co-pacchetto .fh5co-text span {
  text-decoration: none !important;
}
#fh5co-pacchetti .fh5co-pacchetto .fh5co-text h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0 0 15px;
  text-align: center;
}
#fh5co-pacchetti .fh5co-pacchetto .fh5co-text p {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 400;
  padding: 0 15px 0 15px;
}
.fh5co-description {
	height: 90px;
	margin: 5px 0 10px 0;
}
.fh5co-pacchetto {
  height: 290px;
  max-width: 100%;
}

.fh5co-pacchetto p{
  font-size: 16px;
  color: #b3b3b3;
}
#fh5co-pacchetti .fh5co-pacchetto:hover img, #fh5co-pacchetti .fh5co-pacchetto:focus img {
  opacity: .7;
}
#fh5co-pacchetti .fh5co-pacchetto:hover h2, #fh5co-pacchetti .fh5co-pacchetto:hover span, #fh5co-pacchetti .fh5co-pacchetto:focus h2, #fh5co-pacchetti .fh5co-pacchetto:focus span {
  text-decoration: none !important;
}

#fh5co-pacchetti li{
	font-size: 16px;
	font-weight: bold;
	padding: 0 0 0 5%;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	list-style: none;
	position: relative;
}
#fh5co-pacchetti strong{
	font-size: 120%;
	color: black;
	position: absolute;
	right: 5px;
	bottom: -2px;
}

@media screen and (max-width: 767px){ 
	#fh5co-pacchetti li, #fh5co-pacchetti p, #fh5co-pacchetti h2 {
	font-size: 150%;
	}
	.fh5co-description {
	height: 70px;
	margin: 5px 0 10px 0;
	}
	#fh5co-pacchetti strong{
	bottom: -5px;
	}
	.fh5co-pacchetto {
	height: 400px;
	max-width: 100%;
	}
}
@media screen and (max-width: 530px){ 
	#fh5co-pacchetti li, #fh5co-pacchetti p, #fh5co-pacchetti h2 {
	font-size: 130%;
	}
	#fh5co-pacchetti strong{
	bottom: -4px;
	}
}
@media screen and (max-width: 530px){ 
	#fh5co-pacchetti li, #fh5co-pacchetti p, #fh5co-pacchetti h2 {
	font-size: 130%;
	}
	#fh5co-pacchetti strong{
	bottom: -4px;
	}
	.fh5co-pacchetto {
	height: 350px;
	max-width: 100%;
	}
}
@media screen and (max-width: 480px){ 
	#fh5co-pacchetti li, #fh5co-pacchetti p, #fh5co-pacchetti h2 {
	font-size: 100%;
	}
	#fh5co-pacchetti strong{
	bottom: -4px;
	}
	.fh5co-pacchetto {
	height: 300px;
	max-width: 100%;
	}
}
@media screen and (max-width: 370px){ 
	#fh5co-pacchetti li, #fh5co-pacchetti p, #fh5co-pacchetti h2 {
	font-size: 80%;
	}
	#fh5co-pacchetti strong{
	bottom: -2px;
	}
	.fh5co-pacchetto {
	height: 260px;
	max-width: 100%;
	}
}
#fh5co-pacchetti a{
	padding-left: 0;
	margin: 0;

}

#fh5co-pacchetti li:hover{
	box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.3);
}


.text-project-item ul{
	padding: 0;
	margin: 0;
}

/*************
info
*************/

#fh5co-info {
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color: #52d3aa;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
  background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
}

#fh5co-info:before, #fh5co-info:after {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 80px;
  padding: 0;
  width: 100%;
}
#fh5co-info:before {
  top: 0;
  margin-top: -37px;
}
#fh5co-info:after {
  bottom: 0;
  margin-bottom: -37px;
}
#fh5co-info .section-heading h2 {
  color: #fff;
}
#fh5co-info .section-heading h2:after {
  background: rgba(255, 255, 255, 0.3);
}
#fh5co-info .section-heading h3 {
  color: rgba(255, 255, 255, 0.8);
}

/*************
corsi
*************/
#fh5co-corsi {
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color: #52d3aa;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
  background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
}

#fh5co-corsi:before, #fh5co-corsi:after {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 80px;
  padding: 0;
  width: 100%;
}
#fh5co-corsi:before {
  top: 0;
  margin-top: -37px;
}
#fh5co-corsi:after {
  bottom: 0;
  margin-bottom: -37px;
}
#fh5co-corsi .section-heading h2 {
  color: #fff;
}
#fh5co-corsi .section-heading h2:after {
  background: rgba(255, 255, 255, 0.3);
}
#fh5co-corsi .section-heading h3 {
  color: rgba(255, 255, 255, 0.8);
}


#fh5co-corsi ul {
	display: inline-block;
	padding: 0 80px;
}

@media screen and (max-width: 992px){
	#fh5co-corsi ul {
	display: inline-block;
	padding: 0 50px;
}
}
@media screen and (max-width: 591px){
	#fh5co-corsi ul {
	display: block;
	list-style: none;
	margin: 0;
}
}

.icon-h2{
	height: 50px;
	position: relative;
	bottom: 10px;
}
@media screen and (max-width: 768px){
	.icon-h2{
	height: 28px;
	position: relative;
	bottom: 7px;
}
}

/*************
orari
*************/
#orari {
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  background-color: #52d3aa;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
  background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);
}

#orari:before, #orari:after {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 80px;
  padding: 0;
  width: 100%;
}
#orari:before {
  top: 0;
  margin-top: -37px;
}
#orari:after {
  bottom: 0;
  margin-bottom: -37px;
}
#orari .section-heading h2 {
  color: #fff;
}
#orari .section-heading h2:after {
  background: rgba(255, 255, 255, 0.3);
}
#orari .section-heading h3 {
  color: rgba(255, 255, 255, 0.8);
}

#orari ul{
	display: inline-block;

}

#orario{
	display: inline-block;
}

/*************
contatti
*************/

#contatti h2{
	background-size: 27px;
	background-repeat: no-repeat;
	background-image: url(../../img/contatti.png);
	background-position: bottom left;
}

#contatti p{
	margin: 0;
	padding: 2px 0;
}

.fh5co-indirizzo{
	margin-bottom: 15px;
}


