





#copertinagoldgym{
	height: 550px;
	width: 100%;
}



#copertina{
	height: 600px;
	background: linear-gradient(0deg, transparent, transparent);
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: local;

} 
#menu-servizio{
	margin: 0;
	padding: 200px 0 0 0 ;
	border-bottom: 3px solid #00bff0;
	text-align: center;
	
}


#fotoprofilo{
	margin: 0;
	padding: 0;
}

#nomeservizio{
}


#nomeservizio p{
	margin: 0;
	padding: 2px 0;
}



#fotoprofilo{
	box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.5);
}

h1{
	font-weight: bold;
	font-size: 50px;
	margin: 0 0 25px 0;
}

#menu-servizio{
	margin: 0;
	padding: 200px 0 0 0 ;
	border-bottom: 3px solid #00bff0;
	text-align: center;
	position: relative;
}


#menu-servizio li{
	display: inline-block;
	padding: 15px 30px 5px 30px;
	margin: 0;
	color: #f16051;
}

#menu-servizio a{
	color: #f16051;
	font-weight: bold;
	transition: 0.2s;
}

#menu-servizio a:hover{
	color: #00bff0;
}


/*************
pacchetti
*************/
#pacchetti{
	text-align: center;
}

#pacchettih2{
	background-image: url(../../../img/pacchetti.png); 
	background-repeat: no-repeat;
	background-size: 27px;
	padding: 120px 0 0 35px;
	margin: 0 0 25px 0;
	background-position: bottom left;
}
#pacchetti h3{
	background-color: #f16051;
	color: white;
	margin: 0;
	padding: 5px;
	text-align: center;
}

#pacchetti p{
	text-align: center;
}

.pacchetto {
	border: 3px solid #00bff0;
	display: inline-block;
	margin: 10px;
	max-width: 300px;
}





#pacchetti li{
	font-size: 120%;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	list-style: none;
}

#pacchetti a{
	padding: 0;
	margin: 0;
}

#pacchetti li:hover{
	box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.offerte{
	padding: 0;
	margin: 0;
}

/*************
info
*************/
#informazioni h2{
	background-image: url(../../img/info.png);
	background-size: 27px;
	background-repeat: no-repeat;
	background-position: bottom left;
}

#informazioni p{
	padding: 0 20px 0 20px;
}



/*************
corsi
*************/
#corsi h2{
	background-size: 27px;
	background-repeat: no-repeat;
	background-image: url(../../img/corsi.png);
	background-position: bottom left;
}

#corsi ul{
	display: inline-block;
	padding: 0 100px 0 40px;
	margin: 15px 0 0 0;
}


#corsi li{
	padding: 2px 0;
}


/*************
orari
*************/
#orari h2{
	background-size: 27px;
	background-repeat: no-repeat;
	background-image: url(../../img/orari.png);
	background-position: bottom left;
}


#orari h3{
	padding-left: 40px;
	margin: 25px 0 15px 0;
}

#orari ul{
	margin-bottom: 0;
	padding-left: 40px;
}




/*************
contatti
*************/

#contatti h2{
	background-size: 27px;
	background-repeat: no-repeat;
	background-image: url(../../img/contatti.png);
	background-position: bottom left;
}

#contatti p{
	margin: 0;
	padding: 2px 0;
}

/*************
mappa
*************/
#mappa h2{
	background-size: 27px;
	background-repeat: no-repeat;
	background-image: url(../../img/mappa.png);
	background-position: bottom left;
}

.mapouter{
	overflow:hidden;
	height:400px;
	max-width:100%;
}

.gmap_canvas {
	background:none!important;
	height:400px;
	max-width:100%;
}



/*************
simili
*************/

#simili h2{
	background-image: url(../../img/simili.png);
	background-size: 27px;
	background-repeat: no-repeat;
	background-position: bottom left;
}

#elenco{
	padding-bottom: 100px;
}